<div class="container custom-border mt-5 signup-container forgot-form">
  <div class="row justify-content-center">
    <div class="col-md-8 gap-lg-5">
    <h1 class="text-center">Forgot Password</h1>
    <p>Enter E-mail Address and we will send you the code</p>
    <form id="sendOTP">
        <div class="col-md-12 mb-3">
            <label for="first_name text-center">Email Address</label>
            <div class="input-group">
              <input type="email" id="first_name"  name="first_name" class="form-control" placeholder="Enter....." required>
              <span class="input-group-text">
                <i class="bi bi-pen"></i>
              </span>
            </div>
          </div>
    </form>
    <button type="submit" (click)="otpSend()">Submit</button>
   
    <button id="buttonBack"><mat-icon class="text-center">arrow_backward</mat-icon>
        <a (click)="backLogin()">
            Back</a></button>
    </div>
  </div>
</div>
