<nav>
  <!-- Show Login and Signup if user is not logged in -->
  <!-- <a *ngIf="!isLoggedIn()" routerLink="/login">Login</a>
  <a *ngIf="!isLoggedIn()" routerLink="/signup">Signup</a> -->

  <!-- Show Logout if user is logged in -->
  <!-- <a *ngIf="isLoggedIn()" routerLink="/logout">Logout</a> -->

  <!-- Always visible links -->
  <!-- <a routerLink="/seller">Seller</a>
  <a routerLink="/admin">Admin</a>
  <a routerLink="/buyer">Buyer</a> -->
  
</nav>

<router-outlet></router-outlet>
