.login-form {
    max-width: 40%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .anchorStyle{
    cursor: pointer;
  }
  
  .login-form label {
    font-size: 1rem;
    color: #333;
  }
  
  .login-form input {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .login-form input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .login-form button {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .login-form p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #898989; 
    text-align: center;
  }

  .signup{
    cursor: pointer;
    color: #007bff;
  }
  
  .login-form div {
    margin-top: 1.5rem;
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
  }
  
  .login-form div h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #007bff;
  }
  
  .login-form div p {
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
    color: #555;
  }

  #button-google{
    width: 100%;
    margin: 20px 0 20px 0;
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  #button-google:hover{
    background-color: rgb(228, 234, 238);
  }
  .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }