<div class="container custom-border mt-5 signup-container">
  <div class="row justify-content-center">
    <div class="col-md-8 gap-lg-5">
      <h2 class="text-start">Sign Up</h2>
      <p class="text-start">Enter your details below to create your account and get started</p>
      <form (ngSubmit)="onSubmit()">
        <div class="row mb-3 mt-4">
          <div class="col-md-6 mb-3">
            <label for="first_name">First Name</label>
            <div class="input-group">
              <input type="text" id="first_name" [(ngModel)]="formData.first_name" name="first_name" class="form-control" placeholder="Enter....." required>
              <span class="input-group-text">
                <i class="bi bi-pen"></i>
              </span>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="last_name">Last Name</label>
            <div class="input-group">
              <input type="text" id="last_name" [(ngModel)]="formData.last_name" name="last_name" class="form-control" placeholder="Enter....." required>
              <span class="input-group-text">
                <i class="bi bi-pen"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="phone_number">Phone Number</label>
            <div class="input-group">
              <input type="text" id="phone_number" [(ngModel)]="formData.phone_number" name="phone_number" class="form-control" placeholder="Eg. +91......" required>
              <span class="input-group-text">
                <i class="bi bi-pen"></i>
              </span>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email">Email Address</label>
            <div class="input-group">
              <input type="email" id="email" [(ngModel)]="formData.email" name="email" class="form-control" placeholder="example@gmail.co" required>
              <span class="input-group-text">
                <i class="bi bi-pen"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="password">Password</label>
            <div class="input-group">
              <input type="password" id="password" [(ngModel)]="formData.password" name="password" class="form-control" placeholder="Enter....." required>
              <span class="input-group-text">
                <i class="bi bi-pen"></i>
              </span>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="confirm_password">Confirm Password</label>
            <div class="input-group">
              <input type="password" id="confirm_password" [(ngModel)]="formData.confirm_password" name="confirm_password" class="form-control" placeholder="Enter....." required>
              <span class="input-group-text">
                <i class="bi bi-pen"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center gap-5 btn-lg ">
          <button type="button" class="btn  btn-secondary btn-custom ">Cancel</button>
          <button type="submit" class="btn btn-primary btn-lg btn-custom">Confirm</button>
        </div>
      </form>

      <p class="text-center mt-3">
        Already have an account? <a href="../login" >Login</a>
      </p>
    </div>
  </div>
</div>
